
<h1>TICKETS APP</h1>

{% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
{% endif %}

{% if latest_ticket_list %}
     <div>

            <form method="post">  <!--aniadirT tiene def en views.py-->
                {% csrf_token %} <!--Para evitar falsificación de petición en sitios cruzados)-->

                <p>
                    <label>Categoria</label>{{ form.categoria}}
                    <input type="submit" value="Filtrar" /> <!--value solo es el nombre del boton-->
                </p>
            </form>

     </div>

    <div>
        <table>
            <tr>
                  <td><strong>Ticket</strong></td>
                  <td><strong>Category</strong></td>
                  <td><strong>Date</strong></td>
                  <td><strong>Author</strong></td>
            </tr>

             {% for ticket in latest_ticket_list %}
                 <tr>
                     <td>{{ ticket.tituloT}}</td>
                     <td>{{ ticket.categoriaT}}</td>
                     <td>{{ ticket.fechaT.day}}/{{ ticket.fechaT.month}}/{{ ticket.fechaT.year}}</td>
                     <td>{{ ticket.autorT}}</td>
                     <td><a href="{% url 'app:ticket' ticket.id %}">Ver</a></td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% else %}
    <p>No tickets are available.</p>
{% endif %}

<div>
   <a href="{% url 'app:formularioT'%}">Añadir Ticket </a>
</div>
