<h1>{{ ticket.tituloT }}</h1>

{% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>-->
{% else %}

    <div>
        <h3>Datos:</h3>
        <p> Categoría: {{ ticket.categoriaT }} </p>
        <p> Autor: {{ ticket.autorT }} </p>
        <p> Fecha de pub: {{ ticket.fechaT }} </p>
        <p> Responsable: {{ ticket.responsableT}}  </p>
    </div>
    <div>
        <h3>Descripcion:</h3>
        <p> {{ ticket.descripcionT }} </p>
    </div>
     <div>
        <h3>Comentarios:( {{ ticket.comentario_set.count }} )</h3>
          {% for comentario in ticket.comentario_set.all %}
            <li>
                 <p> <strong>{{ comentario.autorC }} :</strong> {{ comentario.descripcionC }} </p>
            </li>
          {% endfor %}
        <li>
             <a href="{% url 'app:formularioC' ticket.id %}">Add Comentario </a>
        </li>

    </div>

{% endif%}